<h1>Blank</h1>
<p>This is an example of a blank page that you can use as a starting point for creating new ones.</p>
<h4>Insert fake post data</h4>

<form action="/admin/generate-fake-data" method="POST">
    <input type="number" name="amount" id="">
    <button type="submit">Generate</button>
</form>