<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->

  </head>

  <body style="padding-top: 54px">

    <!-- Navigation -->
   {{>home/home-nav}}

    <!-- Page Content -->
    <div class="container">

      {{{body}}}
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {{>home/home-footer}}

    <!-- Bootstrap core JavaScript -->
    {{!-- <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script> --}}

  </body>

</html>
