<h1>Create new post</h1>
<form action="/admin/post/create" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label>Post Title</label><br />
        {{#each errors}}
            <small class="text-danger">{{title}}</small>
        {{/each}}
        <input type="text" class="form-control" id="postTitle" placeholder="Post title" name="postTitle">
        
    </div>
    <div class="form-group">
        <label>Category</label>
        <select name="category" id="category" class="form-control">
            {{#each categories}}
            <option value="{{id}}">{{categoryName}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="">Post Status</label>
        <select name="postStatus" id="" class="form-control">
            <option value="draft">Draft</option>
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select>
    </div>
    <div class="form-group">
        <label>Post tags</label>
        <input type="text" class="form-control" id="postTags" placeholder="Post title" name="postTags">
    </div>
    <div class="form-group">
        <label for="">Feature image</label>
        <input type="file" name="postImage" class="form-control">
    </div>
    <div class="form-group">
        <label>Post content</label><br />
        {{#each errors}}
            <small class="text-danger">{{content}}</small>
        {{/each}}
        <textarea name="postContent" id="postContent" cols="30" rows="6" class="form-control" placeholder="Enter your post content"></textarea>
    </div>
    <div class="form-group">
        <input type="checkbox" name="allowComment">
        <label>Allow comments</label>
    </div>
    <button class="btn btn-primary">Create post</button>
    <a href="/admin/post/index" class="btn btn-info"> Cancel</a>
</form>